@import url('https://fonts.cdnfonts.com/css/avenir');

body {
  background-color: #252938;
}

h1{
  color: white;
  font-family: "avenir";
  font-weight: 400;
  font-size: large;
}

h1{
  text-align: center;
  margin-top: 10em;
}
.box{
  background-color: #252938;
  height: 600px;
  width: 1200px;
  margin: auto;
  box-shadow: 0px 0px 10px 2px grey;
  margin-top: 4em;
  border: 10px solid #252938;
  position: relative;
}

#disneylogo{
  position: absolute;
  top: 50px;
  left: 30px;
  max-width: 200px;
}

